/* HEADER AND FILTER CONTROLS */

#header {
    position: sticky;
    top: 0;
    display: block;
    text-align: center;
    font-family: Arial Narrow;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    background-color: white;
    z-index: 10;
}

#header a {
    color: black;
}

#controls {
    display: block;
    font-size: .8em;
    font-family: Arial Narrow;
    background-color: white;
    text-align: center;
}

fieldset {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border: 0px;
    padding: 5px;
}

legend {
    background-color:white;
    border: 1px solid;
    padding: 2px;
    font-weight: bold;
    cursor: pointer;
}

select, button {
    padding: 2px;
    margin: 2px;
    font-family: Arial Narrow;
}

.subfilter {
    display: none;
}

#results {
    width: 180px;
}

/* CARDS */

#card-container {
    text-align: center;
}

#card-container .card {
    position: relative;
    height: 350px;
    width: 250px;
    display: none;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.35); 
}

#card-container .card img {
    width: 250px;
    height: 350px;
}

#card-container .lcard {
    position: relative;
    height: 250px;
    width: 350px;
    display: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.35); 
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: -40px;
      margin-right: -40px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 1;
}

#card-container .lcard img {
    width: 350px;
    height: 250px;
}

.errata {
    position: absolute;
    background-color: white;
    font-size: .7em;
    font-family: Arial Narrow;
    left: 25px;
    right: 0;
    bottom: 5px;
    margin: 25px;
    border: 1px solid;
}
